*{
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
}

table{
    /* border: solid 1 px black; */
    border-collapse: collapse;
}

h1{
    text-align: center;
}

td {
    /* border: solid 1px black; */
    text-align: center;
    padding: 2rem;
    
}

tr{
    /* border: solid 1px black; */
    text-align: center;
    
}