* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

table {
    border-collapse: collapse;
    width: 50%;
    height: 50%;
    margin: auto;
    margin-bottom: 10rem;
    border: solid 2px black;
    
    
}
.empty-cell {
    width: 140px; /* Ajustez la largeur en fonction de vos besoins */
    height: 140px; /* Ajustez la hauteur en fonction de vos besoins */
    /* border: solid black 4px; */
}
h1 {
    font-size: 3rem;
    text-align: center;
}

td {
    /* border: solid 1px black; */
    text-align: center;
    /* padding: 2rem; */
    /* border: solid 1px black; */
    /* border-bottom: none; */
}

tr {
    text-align: center;
}

.pawn img {
    width: 140px;
    height: 140px;
}

.grid-container {
    position: relative;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
}

/* .white { */
    /* background-color: transparent; */
    /* border: solid black 1px; */
/* } */

/* .black { */
    /* background-color: transparent; */
    /* border: solid black 1px; */
/* } */

/* Pions blancs */
.pawn.white.pawn-rook img {
    width: 1rem;
    height: 10%;
}

.pawn.white.pawn-knight img {
    width: 100%;
    height: 100%;
}

.pawn.white.pawn-bishop img {
    width: 100%;
    height: 100%;
}

.pawn.white.pawn-queen img {
    width: 100%;
    height: 100%;
}

.pawn.white.pawn-king img {
    width: 100%;
    height: 100%;
}

.pawn.white.pawn-pawn img {
    width: 100%;
    height: 100%;
}

/* Pions noirs */
.pawn.black.pawn-rook img {
    width: 100%;
    height: 100%;
    /* border: 2px solid red; Ajoutez cette ligne temporairement */
}

.pawn.black.pawn-knight img {
    width: 100%;
    height: 100%;
}

.pawn.black.pawn-bishop img {
    width: 100%;
    height: 100%;
}

.pawn.black.pawn-queen img {
    width: 100%;
    height: 100%;
}

.pawn.black.pawn-king img {
    width: 100%;
    height: 100%;
}

.pawn.black.pawn-pawn img {
    width: 100%;
    height: 100%;
}

.score {
    text-align: center;
    font-size: 3rem;
}

.white-score,
.black-score {
    font-weight: bold;
    font-size: 1.2em;
    margin: 0 0.5em;
}
.hidden {
    display: none;
  }
  @media screen and (max-width: 100px) {
    td {
        height: 30px;
    }
}